header {
	padding: 10px 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid #bbb;
	background-color: #faf6e1;
}
header h3 {
	margin: 0;
	color: #2F9E00;
	letter-spacing: 8px;
	font-size: 11px;
	text-transform: uppercase;
	text-shadow: 1px 1px #fff;
}
.logo {
	background: url('https://d3ki9tyy5l5ruj.cloudfront.net/obj/1b1bd88e57187e58e56f50ed74d03551fc464326/logo_glow.png') no-repeat left center;
	background-size: contain;
	height: 30px;
}
.tasks .completed {
	background-color: #f5f5f5;
	color: #999;
}
.tasks .name {
	margin-left: 35px;
}
.tasks .separator {
	padding: 1px 0 1px 15px;
	margin-left: 0;
	font-weight: bold;
	font-size: 12px;
	background-color: #faf6e1 !important;
}
.tasks .separator .name {
	margin-left: 0;
}
.assignee-photo {
	display: inline-block;
	background-size: contain;
	width: 21px;
	height: 21px;
	position: absolute;
	border-radius: 50%;
}
footer .container-fluid {
	margin-top: 10px;
}
footer p {
	margin: 0;
}
